<nav class="navbar navbar-expand-lg navbar-dark  bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/matches#index">NEWSLETTER</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Feed</a>
        </li>
        <li class="nav-item justify-content-end" >
          <a class="nav-link" href="/discover">Discover</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my_newsletters">My newsletters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/newsletters/new">Create a newsletter</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/users/edit">My Profile</a>
        </li>
        <li class="nav-item justify-content-end" >
          <a class="nav-link" href="/users/sign_out">Log out</a>
        </li>
        <%= image_tag(current_user.avatar, width: "40px", height: "40px") if current_user.avatar.attached?%>
      </ul>
    </div>
  </div>
</nav>
