<div id="<%= dom_id newsletter %>">
  <p>
    <strong>Topic:</strong>
    <%= newsletter.topic %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= newsletter.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= newsletter.description %>
  </p>

</div>
