 <%= render "navbar" %>
<div class="container">
  <br/>

      <div>
    <% link_to "Show this post", @post %>
    <%= link_to "Back to posts", :back , class:'btn btn-outline-warning' %> 
  </div>
    <br/>
  <h1>Editing post</h1>
  <%= render "form", post: @post %>
  <br>

</div>
 <br>
